<div class="main-footer bg-footer1">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4 p-3">
        <div class="inner text-white text-center">
          <h3 class="mb-3">LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-lg-4 p-3">
        <div class="inner text-white d-flex  flex-column align-items-center">
          <h3 class="mb-3">AROUND THE WEB</h3>
          <div class="icons d-flex  justify-content-evenly">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 p-3">
        <div class="inner text-white text-center">
          <h3 class="mb-3">ABOUT FREELANCER</h3>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center w-100 bg-footer2 py-2">
    <p class="text-white my-3">Copyright © Your Website 2021</p>
  </div>
</div>
