<div class="main bg-main d-flex justify-content-center align-items-center">
  <div class="container d-flex justify-content-center align-items-center flex-column ">
    <div>
      <h2 class="text-white fw-bold fs-1 text-center">ABOUT COMPONENT</h2>
      <div class="icons d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-grip-lines"></i>
        <i class="fa-solid fa-star fs-3"></i>
        <i class="fa-solid fa-grip-lines"></i>
      </div>
    </div>
      <div class="row text-white my-2 fs-6 px-5">
        <div class="col-lg-6 px-4">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.<p>
      </div>
      <div class="col-lg-6 px-4">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
      </div>
    </div>
  </div>

