<nav class="navbar navbar-expand-lg bg-main py-3">
  <div class="container">
    <a class="navbar-brand text-white fw-bold fs-1" href="#">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 w-50 d-flex justify-content-evenly">
        <li class="nav-item p-2 rounded-3" routerLinkActive="elementAct">
          <a class="text-white fw-bold fs-5 text-dec" aria-current="page" routerLink="about">About</a>
        </li>
        <li class="nav-item p-2 rounded-3" routerLinkActive="elementAct">
          <a class="text-white fw-bold fs-5 text-dec" aria-current="page" routerLink="port" >Portfolio</a>
        </li>
        <li class="nav-item p-2 rounded-3" routerLinkActive="elementAct">
          <a class="text-white fw-bold fs-5 text-dec" aria-current="page" routerLink="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
